.page-edit {
  width: 90%;
  height: calc(100% - 16px);
  max-width: 1200px;
  margin: 8px auto;
  overflow-y: auto;
  background-color: #fff;
  
  .ant-tabs {
    height: 100%;
    .ant-tabs-content, .ant-tabs-tabpane {
      height: 100%;
    }
  }
  .history-tab-item-tab {
    width: 220px;
    height: 180px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    pre {
      width: 100%;
      height: 100%;
      overflow: auto;
      text-align: left;
    }
  }
  .history-tab-content {
    height: 100%;
    position: relative;
    .operation-wrap {
      position: absolute;
      right: 20px;
      top: 10px;
      opacity: 0.5;
      transition: all .3s;
      z-index: 5;
      &:hover {
        opacity: 1;
      }
    }
  }
}