$primary: #E27279;

$bg-color: #30303D;
$body-bg: #23232E;
$side-item-title-height: 40px;
$side-item-title-color: #9B9B9B;
$side-item-title-active-color: #fff;
$side-item-color: #9B9B9B;
$size-item-active-color: #fff;
$side-dropdown-bg: #23232E;
$side-dropdown-active-bg: #14141A;
$side-item-height: $side-item-title-height;

$doc-title-color: #fff;
$doc-title-font-size: 14px;

$param-list-strip-bg: #393948;
